/* header */
.header {
  position: fixed;
  left: 0;
  top: -112px;
  z-index: 3;
  transition: all 0.6s;
  padding-top: 20px;
  width: 100%;
}
.header.Down {
  height: 74px;
  background-color: #fff;
  padding-top: 0;
  border-bottom: 1px solid #dcdcdc;
}
.header.Down .header-inner {
  border-bottom: 2px solid transparent;
}
.header.Load {
  top: 0;
}
.header-inner {
  width: 90vw;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  z-index: 3;
  justify-content: space-between;
  border-bottom: 2px solid #fff;
}

.header-inner h1 {
  position: relative;
}
.header-inner h1 img {
  position: absolute;
  left: 0;
  top: 50%;
  height: 36px;
  transform: translateY(-50%);
  opacity: 0;
}
.header-inner h1 .logo-color {
  opacity: 0;
}
.header-inner h1 .logo-white {
  opacity: 1;
}
.header.Down .header-inner h1 .logo-white {
  opacity: 0;
}
.header.Down .header-inner h1 .logo-color {
  opacity: 1;
}
.header-right {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  align-items: center;
}

.lang-box {
  padding-right: 50px;
}
.lang-box a:nth-child(1) {
  opacity: 1;
  margin-right: 17px;
}
.lang-box a {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 16px;
  line-height: 90px;
  font-weight: bold;
  opacity: 0.5;
  transition: color 0.2s ease-in-out, line-height 0.5s ease-in-out;
}
.header.Down .lang-box a {
  color: black;
}
.header .btn-all-menu {
  position: relative;
  display: block;
  width: 34px;
  height: 24px;
  z-index: 5;
}
.header .btn-all-menu span {
  display: block;
  position: absolute;
  left: 0;
  background: #fff;
  width: 100%;
  height: 3px;
  z-index: 5;
  transition: all 0.5s;
}
.header .btn-all-menu span:nth-child(1) {
  top: 0;
}
.header .btn-all-menu span:nth-child(2) {
  top: 10px;
}
.header .btn-all-menu span:nth-child(3) {
  top: 20px;
}
.header.Down .btn-all-menu span {
  background-color: #333;
}
/* all-menu-wrap */
.all-menu-wrap {
  position: fixed;
  right: -60%;
  top: 0;
  background-color: #fff;
  bottom: 0;
  z-index: 2;
  padding: 80px 0;
  width: 60%;
  transition: right 0.5s cubic-bezier(0.42, 0, 0.52, 0.98);
  line-height: 1.4;
}
.header.Active .all-menu-wrap {
  right: 0;
}
.all-menu-inner {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 30px 0 100px;
}

.all-menu {
  display: flex;
  width: 100%;
}
.all-menu > li {
  width: 20%;
}
.all-menu > li > a {
  display: block;
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  color: #1a1a1a;
  position: relative;
}
.all-menu > li > span {
  display: none;
}
.all-menu > li > a::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 1.5px;
  background-color: #1a1a1a;
  bottom: -24px;
  left: 0;
}
.all-menu > li > .depth-2 {
  margin-top: 45px;
  /* width: 180px; */
}
.all-menu > li > ul.depth-2 > a {
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  line-height: 24px;
  color: #1a1a1a;
  transition: color 0.14s ease-in-out;
}
.all-menu > li > ul.depth-2 > li {
  margin-bottom: 14px;
}
.all-menu > li > .depth-2 > li > .depth-3 > li > a {
  font-weight: medium;
  color: #5a5a5a;
  font-size: 14.5px;
}
.all-menu-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.33);
  z-index: 1;
  display: none;
}
.header.Active .btn-all-menu span {
  background-color: #333;
  z-index: 5;
}
.header.Active .btn-all-menu {
  z-index: 5;
}
.header.Active .btn-all-menu span:nth-child(1) {
  top: 10px;
  transform: rotate(45deg);
}
.header.Active .btn-all-menu span:nth-child(2) {
  width: 0;
}
.header.Active .btn-all-menu span:nth-child(3) {
  top: 10px;
  transform: rotate(-45deg);
}
/* visual */
.visual {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #ccc;
  z-index: 0;
  overflow: hidden;
}
.visual-slider {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
}
.visual-slider li {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(1.2);
  opacity: 0;
  transition: all 0.5s ease-out;
  text-indent: -9999px;
}
.visual-slider li.On {
  transform: scale(1);
  opacity: 1;
}
li.visu-s01 {
  background-image: url(/img/mv1.jpg);
}
li.visu-s02 {
  background-image: url(/img/mv2.jpg);
}
li.visu-s03 {
  background-image: url(/img/mv3.jpg);
}
li.visu-s04 {
  background-image: url(/img/mv4.jpg);
}
li.visu-s05 {
  background-image: url(/img/mv5.jpg);
}
.visu-txt-wrap {
  position: absolute;
  left: 120px;
  z-index: 2;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
}
.visu-txt-wrap strong {
  display: flex;
  font-size: 44px;
  line-height: 54px;
  color: #fff;
  font-weight: bold;
}
.visu-txt-wrap p {
  font-size: 15px;
  color: #fff;
  line-height: 25px;
  margin-top: 35px;
}
.visu-btn {
  margin-top: 50px;
}
.visu-btn a {
  display: inline-block;
  color: #fff;
  padding: 0 20px;
  width: 185px;
  border: 1px solid #fff;
  font-weight: bold;
  height: 40px;
  font-size: 14px;
  line-height: 42px;
  transition: all 0.2s;
}
.visu-btn a span {
  display: block;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 32px;
  background-image: url(/img/visuBtn_arrow.png);
  transition: all 0.2s ease-in-out;
}
.visu-btn a:hover {
  color: #1a1a1a;
  background-color: #fff;
}
.visu-btn a:hover span {
  background-image: url(/img/mvBtn_arrow_ov.png);
}
.visu-nav {
  position: absolute;
  left: -60px;
  width: 20px;
}
.visu-nav li {
  width: 50%;
  opacity: 0.5;
  height: 8px;
  background-color: #fff;
  text-indent: -9999px;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.5s;
}
.visu-nav li + li {
  margin-top: 19px;
}
.visu-nav li.Active {
  width: 100%;
  opacity: 1;
}
.visual .icon-scroll {
  position: absolute;
  bottom: 10px;
  left: 50%;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  animation: scrollAni 1s ease-in-out infinite;
}
.visual.Down .icon-scroll {
  opacity: 1;
  bottom: 40px;
}
/* main */
.main-sec {
  position: relative;
  padding: 110px 0;
}
.main-sec.main-sec1 {
  padding-bottom: 220px;
  z-index: 1;
}
.inner {
  max-width: 1278px;
  margin: auto;
}
.main-sec1 .sec-tit {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.sec-tit h2 {
  font-size: 30px;
  line-height: 47px;
  color: #1a1a1a;
}
.sec-tit p {
  font-size: 20px;
  line-height: 31px;
  margin-top: 20px;
}
.sec-tit {
  margin-bottom: 80px;
  height: 120px;
}
a.sec-btn {
  display: block;
  width: 207px;
  height: 60px;
  background-color: #004765;
  line-height: 60px;
  text-align: center;
  color: white;
  font-size: 18px;
}
.business-wrap {
  max-width: 1060px;
  margin: auto;
  position: relative;
}
.business-list {
  display: flex;
  flex-wrap: wrap;
}
.business-list > li {
  width: calc(50% - 30px);
  margin-top: 66px;
}
.business-list > li:nth-child(2n) {
  margin-left: 60px;
}
.business-list > li > a {
  position: relative;
  display: block;
}
.business-list > li > a .img-box {
  position: relative;
  z-index: 3;
}
.business-list > li > a .img-box img {
  position: relative;
  z-index: 2;
}
.business-list > li > a .img-box::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 50%;
  background-color: #004785;
  right: 0;
  bottom: 4px;
  transition: all 0.2s ease-in-out;
  z-index: 1;
}
.business-list > li > a:hover .img-box::before {
  right: -17px;
  bottom: -17px;
}
.business-list > li > a .img-box::after {
  background-color: #004785;
  z-index: 3;
}
.business-list > li > a .txt-box {
  margin-top: 20px;
}
.business-list > li > a .txt-box strong {
  display: block;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  transition: all 0.2s ease-in;
}
.business-list > li > a:hover .txt-box strong {
  font-size: 22px;
  color: #004785;
}
.business-list > li > a .txt-box p {
  font-size: 15px;
  line-height: 22px;
  color: #9c9c9c;
  margin-top: 6px;
}
.main-sec1-bg {
  position: absolute;
  right: -22%;
  top: 95%;
}
/* section2 */
.main-sec2 {
  background-color: #ececec;
  z-index: 0;
}

.img-box img {
  max-width: 100%;
}
.txt-center {
  text-align: center;
}
.main-btn {
  display: inline-block;
  width: 146px;
  height: 48px;
  border: 1px solid black;
  line-height: 50px;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
}
/* section3 */
.main-sec3 {
  background-color: #2e343c;
}
.main-sec3-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -33px;
  margin-top: -33px;
}
.main-sec3-list li {
  margin-top: 33px;
  margin-left: 33px;
}
.main-sec3-list li a {
  position: relative;
  display: block;
  overflow: hidden;
}
.main-sec3-list li a .img-box {
  position: relative;
  z-index: 0;
}
.main-sec3-list li a .img-box img {
  transition: all 0.3s ease-out;
}
.main-sec3-list li a:hover .img-box img {
  transform: scale(1.1);
}
.main-sec3-list li a .txt-box {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.main-sec3-list li a .txt-box p {
  color: white;
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
}
/* section4 */
.sec4-list {
  display: flex;
  margin: 0 -25px;
}
.sec4-list li {
  width: 25%;
  padding: 0 25px;
}
.sec4-list li a {
  display: block;
}
.sec4-list li a strong {
  display: block;
  font-size: 16px;
  line-height: 23px;
  height: 46px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}
.sec4-list li a span.mb-data {
  display: block;
  font-size: 15px;
  line-height: 22px;
  margin-top: 17px;
  color: #9c9c9c;
}
.sec4-list li a span.mb-arrow {
  display: inline-block;
  padding-right: 20px;
  font-size: 12px;
  line-height: 17px;
  color: #1a1a1a;
  background-size: 12px;
  background-position: right center;
  background-repeat: no-repeat;
  background-image: url(/img/mb_arrow.png);
  font-weight: bold;
  margin-top: 71px;
}
.main-sec4 .img-box {
  margin-top: 115px;
}
.main-sec5 {
  border-top: 1px solid #dcdcdc;
  padding: 110px 0;
}
.sec5-list {
  display: flex;
  margin: 0 -30px;
}
.sec5-list li {
  width: calc(100% / 3);
  padding: 0 12px;
  position: relative;
}
.sec5-list li a {
  display: block;
  text-align: center;
}
.sec5-list li a strong {
  display: block;
  font-size: 18px;
  line-height: 27px;
  color: #1a1a1a;
}
.sec5-list li .img-box {
  height: 226px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sec5-list li .img-box img {
  width: 130px;
  transition: all 0.2s ease-in-out;
}
.sec5-list li .img-box:hover img {
  width: 150px;
}
.sec5-list li + li::before {
  content: "";
  position: absolute;
  width: 1px;
  background-color: #dcdcdc;
  height: 66%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
/* footer */
.footer {
  border-top: 1px solid #dcdcdc;
  padding: 30px 0 40px;
}
.footer .inner {
  display: flex;
  justify-content: space-between;
}
.footer img {
  width: 163px;
}
.footer-info-wrap {
  display: flex;
  margin-top: 23px;
}
.footer-info-wrap ul {
  font-size: 13px;
  line-height: 20px;
  color: #9c9c9c;
}
.footer-info-wrap ul:nth-child(1) {
  margin-right: 60px;
  padding-right: 60px;
  border-right: 1px solid #dcdcdc;
}
.footer .copy {
  font-size: 12px;
  line-height: 22px;
  margin-top: 30px;
  color: #9c9c9c;
}
.footer .footer-btn {
  margin-top: 50px;
  font-size: 13px;
  line-height: 20px;
  font-weight: 500;
  color: #9c9c9c;
}
.footer .footer-btn a {
  color: #9c9c9c;
}
