/* header */
.header {
  position: fixed;
  left: 0;
  top: -112px;
  z-index: 3;
  transition: all 0.6s;
  padding-top: 20px;
  width: 100%;
}
.header.Down {
  height: 74px;
  background-color: #fff;
  padding-top: 0;
  border-bottom: 1px solid #dcdcdc;
}
.header.Down .header-inner {
  border-bottom: 2px solid transparent;
}
.header.Load {
  top: 0;
}
.header-inner {
  width: 90vw;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  z-index: 3;
  justify-content: space-between;
  border-bottom: 2px solid #fff;
}

.header-inner h1 {
  position: relative;
}
.header-inner h1 img {
  position: absolute;
  left: 0;
  top: 50%;
  height: 36px;
  transform: translateY(-50%);
  opacity: 0;
}
.header-inner h1 .logo-color {
  opacity: 0;
}
.header-inner h1 .logo-white {
  opacity: 1;
}
.header.Down .header-inner h1 .logo-white {
  opacity: 0;
}
.header.Down .header-inner h1 .logo-color {
  opacity: 1;
}
.header-right {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  align-items: center;
}

.lang-box {
  padding-right: 50px;
}
.lang-box a:nth-child(1) {
  opacity: 1;
  margin-right: 17px;
}
.lang-box a {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 16px;
  line-height: 90px;
  font-weight: bold;
  opacity: 0.5;
  transition: color 0.2s ease-in-out, line-height 0.5s ease-in-out;
}
.header.Down .lang-box a {
  color: black;
}
.header .btn-all-menu {
  position: relative;
  display: block;
  width: 34px;
  height: 24px;
  z-index: 5;
}
.header .btn-all-menu span {
  display: block;
  position: absolute;
  left: 0;
  background: #fff;
  width: 100%;
  height: 3px;
  z-index: 5;
  transition: all 0.5s;
}
.header .btn-all-menu span:nth-child(1) {
  top: 0;
}
.header .btn-all-menu span:nth-child(2) {
  top: 10px;
}
.header .btn-all-menu span:nth-child(3) {
  top: 20px;
}
.header.Down .btn-all-menu span {
  background-color: #333;
}
/* all-menu-wrap */
.all-menu-wrap {
  position: fixed;
  right: -60%;
  top: 0;
  background-color: #fff;
  bottom: 0;
  z-index: 2;
  padding: 80px 0;
  width: 60%;
  transition: right 0.5s cubic-bezier(0.42, 0, 0.52, 0.98);
  line-height: 1.4;
}
.header.Active .all-menu-wrap {
  right: 0;
}
.all-menu-inner {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 30px 0 100px;
}

.all-menu {
  display: flex;
  width: 100%;
}
.all-menu > li {
  width: 20%;
}
.all-menu > li > a {
  display: block;
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  color: #1a1a1a;
  position: relative;
}
.all-menu > li > span {
  display: none;
}
.all-menu > li > a::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 1.5px;
  background-color: #1a1a1a;
  bottom: -24px;
  left: 0;
}
.all-menu > li > .depth-2 {
  margin-top: 45px;
  /* width: 180px; */
}
.all-menu > li > ul.depth-2 > a {
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  line-height: 24px;
  color: #1a1a1a;
  transition: color 0.14s ease-in-out;
}
.all-menu > li > ul.depth-2 > li {
  margin-bottom: 14px;
}
.all-menu > li > .depth-2 > li > .depth-3 > li > a {
  font-weight: medium;
  color: #5a5a5a;
  font-size: 14.5px;
}
.all-menu-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.33);
  z-index: 1;
  display: none;
}
.header.Active .btn-all-menu span {
  background-color: #333;
  z-index: 5;
}
.header.Active .btn-all-menu {
  z-index: 5;
}
.header.Active .btn-all-menu span:nth-child(1) {
  top: 10px;
  transform: rotate(45deg);
}
.header.Active .btn-all-menu span:nth-child(2) {
  width: 0;
}
.header.Active .btn-all-menu span:nth-child(3) {
  top: 10px;
  transform: rotate(-45deg);
}
/* visual */
.visual {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #ccc;
  z-index: 0;
  overflow: hidden;
}
.visual-slider {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
}
.visual-slider li {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(1.2);
  opacity: 0;
  transition: all 0.5s ease-out;
  text-indent: -9999px;
}
.visual-slider li.On {
  transform: scale(1);
  opacity: 1;
}
li.visu-s01 {
  background-image: url(/img/mv1.jpg);
}
li.visu-s02 {
  background-image: url(/img/mv2.jpg);
}
li.visu-s03 {
  background-image: url(/img/mv3.jpg);
}
li.visu-s04 {
  background-image: url(/img/mv4.jpg);
}
li.visu-s05 {
  background-image: url(/img/mv5.jpg);
}
.visu-txt-wrap {
  position: absolute;
  left: 120px;
  z-index: 2;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
}
.visu-txt-wrap strong {
  display: flex;
  font-size: 44px;
  line-height: 54px;
  color: #fff;
  font-weight: bold;
}
.visu-txt-wrap p {
  font-size: 15px;
  color: #fff;
  line-height: 25px;
  margin-top: 35px;
}
.visu-btn {
  margin-top: 50px;
}
.visu-btn a {
  display: inline-block;
  color: #fff;
  padding: 0 20px;
  width: 185px;
  border: 1px solid #fff;
  font-weight: bold;
  height: 40px;
  font-size: 14px;
  line-height: 42px;
  transition: all 0.2s;
}
.visu-btn a span {
  display: block;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 32px;
  background-image: url(/img/visuBtn_arrow.png);
  transition: all 0.2s ease-in-out;
}
.visu-btn a:hover {
  color: #1a1a1a;
  background-color: #fff;
}
.visu-btn a:hover span {
  background-image: url(/img/mvBtn_arrow_ov.png);
}
.visu-nav {
  position: absolute;
  left: -60px;
  width: 20px;
}
.visu-nav li {
  width: 50%;
  opacity: 0.5;
  height: 8px;
  background-color: #fff;
  text-indent: -9999px;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.5s;
}
.visu-nav li + li {
  margin-top: 19px;
}
.visu-nav li.Active {
  width: 100%;
  opacity: 1;
}
.visual .icon-scroll {
  position: absolute;
  bottom: 10px;
  left: 50%;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  animation: scrollAni 1s ease-in-out infinite;
}
.visual.Down .icon-scroll {
  opacity: 1;
  bottom: 40px;
}
